@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Billboards.Models
@model IEnumerable<Billboards.Models.AdvertisementStatistics>
@{
    ViewData["Title"] = "AdvertisingStatistics";
    Layout = "~/Views/User/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Advertising statistics</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>

    <div class="m-3">
        
        <h2 class="m-3">Advertising statistics: </h2>
        <ul class="list-group justify-content-center">

            @foreach (AdvertisementStatistics advStat in Model)
            {
                <li class="list-group-item">
                    <ul class="list-group justify-content-center">
                        <li class="list-group-item">@advStat.LogTime</li>
                        <li class="list-group-item"> @advStat.ActionMessage</li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</body>

